.benefit-item{
  .benefit-item__title{
    h2 {
      font-family: "Montserrat";
      font-size: 60px;
      line-height: 72px;
      color: var(--color-yellow);
      @media(max-width: 1200px){
        font-size: 40px;
        line-height: 48px;
      }
    }
  }
  .benefit-item__content{
    p{
      font-family: "Montserrat";
      color: var(--color-white);
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media(max-width: 1200px){
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}