.information-section {
  .information-section__wrapper {
    background-image: url("/slider-slide-1-1920x1080.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}

.map-section {
  iframe {
    width: 100%;
    height: 640px;
  }
}
